.img-container,
.img-container2 {
  width: 75%;
  height: 100%;
  display: flex;

  align-items: center;
  justify-content: space-around;

  background: #e5e5e5;
}

.img-container img {
  max-width: 700px;
  max-height: 500px;
}

.img-container2 img {
  max-width: 400px;
  max-height: 400px;
}
