.header-container {
  height: 7vh;
  width: 100%;

  font-size: 12px;

  background-color: #8b73fa;
  background-color: #2c2c2c;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}
