.side-bar {
  background-color: #fff;
  height: 100%;
  width: 320px;
  border-right: 1px solid #eeeeee;

  display: flex;
  flex-direction: column;
  align-items: flex;
  justify-content: flex-start;
}

.algorithm-techniques {
  width: 100%;
  padding: 20px 10px;

  overflow-y: scroll;
}

.algorithm-techniques > h2 {
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
  color: #2c3e50;
  margin-bottom: 10px;

  border-bottom: 1px solid #eeeeee;
  padding-bottom: 5px;
}

.algorithm-techniques ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
  height: 40px;
  cursor: pointer;
}

.algorithm-techniques ul li:hover {
  background: #eeeeee;
}

.algorithm-techniques ul li h3 {
  font-size: 15px;
  color: #2c3e50;
}

.algorithm-techniques ul li h3:hover {
  color: #007eff;
}

.selected {
  border-right: 3px solid #007eff;
  background-color: #cce2f8;
}

.algorithm-techniques ul .selected > h3:hover {
  opacity: 0.8;
}
